.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Image-Display{
  background-image: url('./img/spotify.jpg');
}

.search-form{
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-right: 2%;
  margin-left: 2%;

}
input{
  display: block;
}

.Title{
  margin-top: 60px;
  font-size: 3rem;
}

.input-sections{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  max-height: 100%;
  
}
  .labels {
    margin-top: 50px;
  }

.Edit-Profile{
  background-color: #191414;
  color: rgb(25, 201, 86);
  height: 100%;
  
}

.Header{
  padding-top: 20px;
}
.Button {
  width: 200px;
  margin-top: 80px;
  margin-bottom: 300px;
  padding: 12px 20px;
  border-style: none;
  background-color: lightslategray;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}